<div class="bg-green-500 text-center">
    <h1 class="py-9 text-4xl font-medium text-white md:text-5xl lg:text-6xl">Retiro en <span class="underline underline-offset-3 decoration-8 decoration-white">tienda</span></h1> 
    <h2 class="text-2xl font-medium text-white md:text-3xl">Ubicada en calle falsa #123</h2>
    <div class="grid grid-cols-3 max-sm:grid-cols-2 py-9 justify-center max-sm:mx-2 max-md:mx-6 max-lg:mx-12 max-xl:mx-[200px] mx-[200px]">
        <button class="h-16 mb-3 max-sm:col-span-1 font-medium border-4 p-2 mx-3 px-10 border-white hover:bg-white hover:text-green-500 duration-500">Articulos Mujer</button>
        <button class="h-16 mb-3 max-sm:col-span-1 font-medium border-4 p-2 mx-3 px-10 border-white hover:bg-white hover:text-green-500 duration-500">Articulos Hombre</button>
        <button class="h-16 mb-3 max-sm:col-span-2 font-medium border-4 p-2 mx-3 px-10 border-white hover:bg-white hover:text-green-500 duration-500">Articulos Ofertas</button>
    </div>
</div>